body { 
    background-color: black ;
    color : white ;
}
.grid{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    padding: 0px;
    -webkit-box-pack: center;
    justify-content: center;

}

.top1 div{
    margin:13%;
}

img{
    width:240px;
}
.top1{
    width: 260px;
    margin-right: 20px;
    margin-left: 20px;
}

iframe{
    display: block;
    margin: auto;
}
.rows {
    display: flex;
  }
  
  .columns {
    flex: 33.33%;
    padding: 100px;
  }
